body {
    background-color:black
}
#emanpic{
    width:100%;
    height:50%;
    margin: auto;
}
#emanpicdiv{
    width:30%;
    border: 10px white;
    margin: auto auto auto auto;
}
h1{
    color:antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size:60px;
    text-align: center;
    margin-bottom: 00px;
}
p{
    color:antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 80;
    font-size:20px;
    text-align: center;
    margin-bottom: 00px;
}